<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Playback</title>
</head>
<body>
	<dl8-video format="MONO_360" aspect="2:1" crossorigin="anonymous">
		<source src="/videos/45917592/f131b8e2-dc2c-4145-8736-eb7b3e8a34be/archive.mp4" type="video/mp4">
	</dl8-video>

	<!--<dl8-video format="MONO_360" aspect="2:1" crossorigin="anonymous">
		<source src="/video-local/archive.mp4" type="video/mp4">
	</dl8-video>-->

	<script src="//cdn.delight-vr.com/latest/dl8-0cdcc0da4cc33a2f1dec91273ca2439c172bcfde.js" async></script>
</body>
</html>
